@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --darkest: #212a31;
  --dark: #2e3944;
  --blue: #124e66;
  --light: #748d92;
  --lightest: #d3d9d4;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--dark);
}
